@media print {
  html, body {height: initial;}
  .resizable.pane-left, footer {display: none;}
  .resize-wrap .resizable.pane-right {
    width: 100%;
    float: none;
  }
  .resize-wrap .resizable.pane-right #preview {
    overflow-y: visible;
  }
  .resize-wrap .resizable.pane-right #preview .content {
    padding: 0;
  }
}