<!DOCTYPE html>
<html>
  <head>
    <title>Markdown-Volcy</title>
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/github-md.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/codemirror/lib/codemirror.css">
    <script type="text/javascript" src="../assets/javascripts/index.js"></script>
  </head>
  <body>
    <div class="resize-wrap">
      <div class="resizable pane-left">
        <textarea id="input" class="resize-content"></textarea>
      </div>
      <div class="resizable pane-right">
        <div id="preview" class="markdown-body resize-content">
          <div class="content"></div>
        </div>
      </div>
    </div>
    <footer>
      <span class="version">v<script>document.write(remote.require('app').getVersion())</script></span>
    </footer>
    <script>console.log("We are using io.js %s and Electron %s.", process.version, process.versions['electron'])</script>
    <script type="text/javascript" src="../assets/javascripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../assets/javascripts/jquery.layout-latest.js"></script>
    <script type="text/javascript" src="../../bower_components/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="../../bower_components/codemirror/mode/markdown/markdown.js"></script>
  </body>
</html>

