<!DOCTYPE html>
<html>
  <head>
    <title>Preferences</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/preferences.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/codemirror/lib/codemirror.css">
    <script type="text/javascript" src="../assets/javascripts/preferences.js"></script>
  </head>
  <body>
    <div class="container" style="/*border: black solid 1px*/">
      <form>
        <table>
          <tbody>
            <tr>
              <td><label for="locale"><span data-label="pref.lblLocale"></span> : </label></td>
              <td>
                <select name="locale" id="locale">
                  <option value="en" data-label="pref.en"></option>
                  <option value="fr" data-label="pref.fr"></option>
                </select>
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td><label for="theme"><span data-label="pref.lblPreviewTheme"></span> : </label></td>
              <td>
                <select name="theme" id="theme">
                  <option value="default">Default</option>
                  <option value="github-md">GitHub</option>
                </select>
              </td>
            </tr>
            <tr style="display: none;">
              <td>
                <input type="hidden" name="latex" value="false">
              </td>
              <td>
                <label for="latex">
                  <input type="checkbox" name="latex" id="latex" value="true"> <span data-label="pref.lblEnableLatex"></span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <script>console.log("We are using io.js %s and Electron %s.", process.version, process.versions['electron'])</script>
  </body>
</html>
