<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/preferences.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/github-md.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/codemirror/lib/codemirror.css">
    <script type="text/javascript" src="../assets/javascripts/preferences.js"></script>
  </head>
  <body>
    <div class="container" style="border: black solid 1px">
    </div>
    <script>$(function(){$('title').text(require(app_root+'/lib/i18n').t('app.preferences'));})</script>
    <script>console.log("We are using io.js %s and Electron %s.", process.version, process.versions['electron'])</script>
  </body>
</html>

