.github-md {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.github-md a {
  background-color: transparent;
}

.github-md a:active,
.github-md a:hover {
  outline: 0;
}

.github-md strong {
  font-weight: bold;
}

.github-md h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.github-md img {
  border: 0;
}

.github-md hr {
  box-sizing: content-box;
  height: 0;
}

.github-md pre {
  overflow: auto;
}

.github-md code,
.github-md kbd,
.github-md pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.github-md input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.github-md html input[disabled] {
  cursor: default;
}

.github-md input {
  line-height: normal;
}

.github-md input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.github-md table {
  border-collapse: collapse;
  border-spacing: 0;
}

.github-md td,
.github-md th {
  padding: 0;
}

.github-md * {
  box-sizing: border-box;
}

.github-md input {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.github-md a {
  color: #4078c0;
  text-decoration: none;
}

.github-md a:hover,
.github-md a:active {
  text-decoration: underline;
}

.github-md hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.github-md hr:before {
  display: table;
  content: "";
}

.github-md hr:after {
  display: table;
  clear: both;
  content: "";
}

.github-md h1,
.github-md h2,
.github-md h3,
.github-md h4,
.github-md h5,
.github-md h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.github-md h1 {
  font-size: 30px;
}

.github-md h2 {
  font-size: 21px;
}

.github-md h3 {
  font-size: 16px;
}

.github-md h4 {
  font-size: 14px;
}

.github-md h5 {
  font-size: 12px;
}

.github-md h6 {
  font-size: 11px;
}

.github-md blockquote {
  margin: 0;
}

.github-md ul,
.github-md ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.github-md ol ol,
.github-md ul ol {
  list-style-type: lower-roman;
}

.github-md ul ul ol,
.github-md ul ol ol,
.github-md ol ul ol,
.github-md ol ol ol {
  list-style-type: lower-alpha;
}

.github-md dd {
  margin-left: 0;
}

.github-md code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.github-md pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.github-md>*:first-child {
  margin-top: 0 !important;
}

.github-md>*:last-child {
  margin-bottom: 0 !important;
}

.github-md a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.github-md .anchor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

.github-md .anchor:focus {
  outline: none;
}

.github-md h1,
.github-md h2,
.github-md h3,
.github-md h4,
.github-md h5,
.github-md h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.github-md h1 .octicon-link,
.github-md h2 .octicon-link,
.github-md h3 .octicon-link,
.github-md h4 .octicon-link,
.github-md h5 .octicon-link,
.github-md h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}

.github-md h1:hover .anchor,
.github-md h2:hover .anchor,
.github-md h3:hover .anchor,
.github-md h4:hover .anchor,
.github-md h5:hover .anchor,
.github-md h6:hover .anchor {
  padding-left: 8px;
  margin-left: -30px;
  text-decoration: none;
}

.github-md h1:hover .anchor .octicon-link,
.github-md h2:hover .anchor .octicon-link,
.github-md h3:hover .anchor .octicon-link,
.github-md h4:hover .anchor .octicon-link,
.github-md h5:hover .anchor .octicon-link,
.github-md h6:hover .anchor .octicon-link {
  display: inline-block;
}

.github-md h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.github-md h1 .anchor {
  line-height: 1;
}

.github-md h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.github-md h2 .anchor {
  line-height: 1;
}

.github-md h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.github-md h3 .anchor {
  line-height: 1.2;
}

.github-md h4 {
  font-size: 1.25em;
}

.github-md h4 .anchor {
  line-height: 1.2;
}

.github-md h5 {
  font-size: 1em;
}

.github-md h5 .anchor {
  line-height: 1.1;
}

.github-md h6 {
  font-size: 1em;
  color: #777;
}

.github-md h6 .anchor {
  line-height: 1.1;
}

.github-md p,
.github-md blockquote,
.github-md ul,
.github-md ol,
.github-md dl,
.github-md table,
.github-md pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.github-md hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.github-md ul,
.github-md ol {
  padding-left: 2em;
}

.github-md ul ul,
.github-md ul ol,
.github-md ol ol,
.github-md ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.github-md li>p {
  margin-top: 16px;
}

.github-md dl {
  padding: 0;
}

.github-md dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.github-md dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.github-md blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.github-md blockquote>:first-child {
  margin-top: 0;
}

.github-md blockquote>:last-child {
  margin-bottom: 0;
}

.github-md table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.github-md table th {
  font-weight: bold;
}

.github-md table th,
.github-md table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.github-md table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.github-md table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.github-md img {
  max-width: 100%;
  box-sizing: border-box;
}

.github-md code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.github-md code:before,
.github-md code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.github-md pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.github-md .highlight {
  margin-bottom: 16px;
}

.github-md .highlight pre,
.github-md pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.github-md .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.github-md pre {
  word-wrap: normal;
}

.github-md pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.github-md pre code:before,
.github-md pre code:after {
  content: normal;
}

.github-md kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.github-md .pl-c {
  color: #969896;
}

.github-md .pl-c1,
.github-md .pl-s .pl-v {
  color: #0086b3;
}

.github-md .pl-e,
.github-md .pl-en {
  color: #795da3;
}

.github-md .pl-s .pl-s1,
.github-md .pl-smi {
  color: #333;
}

.github-md .pl-ent {
  color: #63a35c;
}

.github-md .pl-k {
  color: #a71d5d;
}

.github-md .pl-pds,
.github-md .pl-s,
.github-md .pl-s .pl-pse .pl-s1,
.github-md .pl-sr,
.github-md .pl-sr .pl-cce,
.github-md .pl-sr .pl-sra,
.github-md .pl-sr .pl-sre {
  color: #183691;
}

.github-md .pl-v {
  color: #ed6a43;
}

.github-md .pl-id {
  color: #b52a1d;
}

.github-md .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.github-md .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.github-md .pl-ml {
  color: #693a17;
}

.github-md .pl-mh,
.github-md .pl-mh .pl-en,
.github-md .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.github-md .pl-mq {
  color: #008080;
}

.github-md .pl-mi {
  color: #333;
  font-style: italic;
}

.github-md .pl-mb {
  color: #333;
  font-weight: bold;
}

.github-md .pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.github-md .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.github-md .pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.github-md .pl-mo {
  color: #1d3e81;
}

.github-md kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.github-md .task-list-item {
  list-style-type: none;
}

.github-md .task-list-item+.task-list-item {
  margin-top: 3px;
}

.github-md .task-list-item input {
  margin: 0 0.35em 0.25em -1.6em;
  vertical-align: middle;
}

.github-md :checked+.radio-label {
  z-index: 1;
  position: relative;
  border-color: #4078c0;
}